<!DOCTYPE html>
<html lang="en">
    <!-- Head-->
    <%- include ("partials/head"); %>
    <body id="page-top" onload="comments();">
        <!-- Navigation-->
        <%- include ("partials/navbar"); %> 
        <!-- Masthead-->
        <header class="masthead">
            <div class="container container-commenti px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <h3>Indice dei commenti</h3>
                    <hr class="divider" />
                    <div class="order-button-group">
                        <button type="button" class="btn btn-light order-button" data-order="chronological" id="chronologicalBtn">Dal più antico</button>
                        <button type="button" class="btn btn-light order-button" data-order="chronological" id="antichronologicalBtn">Dal più recente</button>
                        <button type="button" class="btn btn-light order-button"data-order="alphabetical" id="alphabeticalBtn">Ordine alfabetico</button>
                      </div>
                    <div class="comment-list">
                        <ul class="list-group comment-list-items">
                            <% data.forEach(item => { %>
                            <li class="list-group-item dropdown-item toggleBtn"><%= item.curator %> (<%= item.date %>) <i class="bi bi-caret-down-fill"></i>
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: <%= item.author %></li>
                                    <li class="list-group-item">Titolo: <%= item.title %></li>
                                    <li class="list-group-item">Curatore: <%= item.curator %></li>
                                    <li class="list-group-item">Luogo di pubblicazione: <%= item.city %></li>
                                    <li class="list-group-item">Editore: <%= item.publisher %></li>
                                    <li class="list-group-item">Anno: <%= item.date %></li>
                                    <li class="list-group-item">Marcatura: <%= item.marcatura.resp %> a cura di <%= item.marcatura.persName %></li>
                                    <li class="list-group-item">Note: <%= item.description ? (item.description ? item.description : 'N/A') : 'N/A' %></li>
                                    <li class="list-group-item">Capitoli disponibili: <%= item.notes ? (item.notes.p ? item.notes.p : 'N/A') : 'N/A' %></li>

                                </ul>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- Footer-->
        <%- include("partials/footer"); %>
        <!-- Scripts-->
        <%- include("partials/scripts"); %>
    </body>
</html>

