<!DOCTYPE html>
<html lang="en">
    <!-- Head-->
    <%- include ("partials/head"); %>
    <body id="page-top">
        <!-- Navigation-->
        <%- include ("partials/navbar"); %>        
        <!-- Masthead-->
        <header class="masthead">
            <div class="container image-home px-4 px-lg-5 h-100 ">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end2">
                        <div class="firmaTitolo">
                        <h1 class="h1titolo font-weight-bold font-style-italic ">Leggo</h1>
                    </div>
                    </div>
                    <div class="col-lg-8 align-items-center justify-content-center text-center align-self-end2">
                        <h3 class="mb-5">Quaranta commenti alla Quarantana</h3>
                        <a class="btn btn-primary btn-xl" a class="nav-link" href="./introduzione">Naviga</a>
                    </div>
                   
                </div>
                
            </div>
        </header>
        
        <!-- TRY -->
        <ul class="d-none">
        <% arrayN.forEach((el) => { %>
            <li>Capitolo <%= el; %></li>
        <% }); %>
        </ul>
        <!-- / -->

        <!-- Il progetto-->
        <!-- to remove
        <div class="p-5 text-center" id="learnmore">
            <h2>Il progetto</h2>
            <h3>Coming soon!</h3>
        </div> -->

        <!--<div>
        <section class="page-section bg-primary" id="learnmore">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Il progetto</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non convallis magna. Suspendisse viverra nisl quis urna ornare efficitur. Vestibulum vitae elit sapien. Integer nec purus dapibus, condimentum dolor eu, porttitor est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt, justo vel aliquam gravida, metus libero molestie sapien, sed auctor nunc ligula eget orci. Nam vulputate sagittis ligula, ac dapibus quam. In hac habitasse platea dictumst. Nunc tempor erat vitae orci imperdiet dictum.

Sed placerat magna nec enim finibus semper. Aenean sit amet maximus ante. Donec condimentum feugiat sapien, sed luctus leo eleifend eu. Suspendisse potenti. Nam tempor rutrum lacus quis tincidunt. Praesent semper dui elit, sed dignissim dui maximus eu. Proin non ultricies leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris suscipit risus est, eget lobortis est fringilla vel. Maecenas imperdiet purus enim, eu dictum urna consectetur nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus turpis urna, varius et aliquet vitae, faucibus eu nisi. Ut egestas velit id sapien sagittis ullamcorper. Morbi euismod dui ex. Integer posuere lorem ut nibh feugiat maximus.

Morbi auctor pharetra orci quis vestibulum. Donec congue et orci vel rutrum. Vivamus porttitor vitae sapien a lacinia. Curabitur tellus nisi, auctor vitae vulputate ut, condimentum vel erat. Duis efficitur ante velit, quis auctor eros malesuada eu. Proin eu nisi sapien. Praesent ac nibh cursus, commodo lectus vitae, pharetra magna. Ut consectetur massa mauris, in lobortis nulla tincidunt quis. Etiam efficitur, turpis a interdum porttitor, nisi augue semper nisi, ac tristique risus dolor eget nibh. Aenean risus neque, semper vitae turpis feugiat, auctor dictum est. Integer fringilla lectus vitae nisi imperdiet commodo tincidunt vel elit. Duis volutpat, nisi id consequat hendrerit, nibh lacus porta dolor, quis auctor risus odio vitae libero. Nullam pretium risus scelerisque lectus ultricies dapibus ac non ex. Nullam sagittis erat vel interdum placerat.
                       </p>
                        <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
                    </div>
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Il progetto</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non convallis magna. Suspendisse viverra nisl quis urna ornare efficitur. Vestibulum vitae elit sapien. Integer nec purus dapibus, condimentum dolor eu, porttitor est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt, justo vel aliquam gravida, metus libero molestie sapien, sed auctor nunc ligula eget orci. Nam vulputate sagittis ligula, ac dapibus quam. In hac habitasse platea dictumst. Nunc tempor erat vitae orci imperdiet dictum.

Sed placerat magna nec enim finibus semper. Aenean sit amet maximus ante. Donec condimentum feugiat sapien, sed luctus leo eleifend eu. Suspendisse potenti. Nam tempor rutrum lacus quis tincidunt. Praesent semper dui elit, sed dignissim dui maximus eu. Proin non ultricies leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris suscipit risus est, eget lobortis est fringilla vel. Maecenas imperdiet purus enim, eu dictum urna consectetur nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus turpis urna, varius et aliquet vitae, faucibus eu nisi. Ut egestas velit id sapien sagittis ullamcorper. Morbi euismod dui ex. Integer posuere lorem ut nibh feugiat maximus.

Morbi auctor pharetra orci quis vestibulum. Donec congue et orci vel rutrum. Vivamus porttitor vitae sapien a lacinia. Curabitur tellus nisi, auctor vitae vulputate ut, condimentum vel erat. Duis efficitur ante velit, quis auctor eros malesuada eu. Proin eu nisi sapien. Praesent ac nibh cursus, commodo lectus vitae, pharetra magna. Ut consectetur massa mauris, in lobortis nulla tincidunt quis. Etiam efficitur, turpis a interdum porttitor, nisi augue semper nisi, ac tristique risus dolor eget nibh. Aenean risus neque, semper vitae turpis feugiat, auctor dictum est. Integer fringilla lectus vitae nisi imperdiet commodo tincidunt vel elit. Duis volutpat, nisi id consequat hendrerit, nibh lacus porta dolor, quis auctor risus odio vitae libero. Nullam pretium risus scelerisque lectus ultricies dapibus ac non ex. Nullam sagittis erat vel interdum placerat.
                       </p>
                        <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
                    </div>
                </div>
            </div>-->
        </section>
        <!-- Footer-->
        <%- include("partials/footer"); %>
        <!-- Scripts-->
        <%- include("partials/scripts"); %>
    </body>
</html>
