<!DOCTYPE html>
<html lang="en">
    <!-- Head-->
    <%- include ("partials/head"); %>
    <body id="page-top" class="normalFont">
        <!-- Navigation-->
        <%- include ("partials/navbar"); %>        
        <!-- Masthead-->
        <header class="masthead">
            <div class="container image-home px-4 px-lg-5 h-100 ">
                <a href="./reader" class="mobile-image-link d-block d-md-none"></a>
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end2">
                        <div class="firmaTitolo">
                        <h1 class="h1titolo font-weight-bold font-style-italic ">Leggo</h1>
                        
                    </div>
                    </div>
                    <div class="col-lg-8 align-items-right justify-content-right text-right align-self-end2">
                        <!-- <h2 class="mb-5">Quaranta commenti alla Quarantana</h2> -->
                        <a class="btn btn-primary btn-xl" a class="nav-link" href="./progetto">Naviga</a>
                    </div>
                   
                </div>
                
            </div>
        </header>
        
        <!-- TRY -->
        <ul class="d-none">
        <% arrayN.forEach((el) => { %>
            <li>Capitolo <%= el; %></li>
        <% }); %>
        </ul>
        <!-- / -->

        </section>
        <!-- Footer-->
        <%- include("partials/footer"); %>
        <!-- Scripts-->
        <%- include("partials/scripts"); %>
    </body>
</html>
