<!DOCTYPE html>
<html lang="en">
<!-- Head-->
<%- include ("partials/head"); %>

    <body id="page-top">
        <!-- Navigation-->
        <%- include("partials/navbar"); %>
            <!-- Masthead-->
            <header>
                <div class="container px-4 px-lg-5 h-20">
                    <h1 class="text-black text-center font-weight-bold" id="readerTitle"></h1>
                </div>
            </header>
            <div class="container container1">
                <section class="box-testi">
                    <div class="row">
                        <div class="col-6" id="colonnaS">
                            <div class="colonnasinistra text-break" id="promessisposi">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="issuesnav"
                                    data-bs-toggle="dropdown" aria-expanded="false" style="text-align: left">
                                    Capitoli
                                </button>
                                <button class="enlarger" id="enlargerLeft">
                                    <i class="bi bi-arrows-angle-expand" id="enlargerLeftI"></i>
                                    <!-- Extension symbol -->
                                </button>
                                <div id="popupL">Clicca su questo bottone per visualizzare il testo in modalità
                                    full-screen.</div>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <% chapters.forEach((chapter)=> {
                                        if (!chapter.startsWith('1') && !chapter.startsWith('2') &&
                                        !chapter.startsWith('3') && !chapter.startsWith('4') && !chapter.startsWith('5')
                                        &&
                                        !chapter.startsWith('6') && !chapter.startsWith('7') &&
                                        !chapter.startsWith('8') && !chapter.startsWith('9')) { %>
                                        <li><a class="dropdown-item chapter-link" data-chapter="<%= chapter %>"
                                                href="#">
                                                <%= chapter.replace('Capitolo', '' ) %>
                                            </a></li>
                                        <% } else { %>
                                            <li><a class="dropdown-item chapter-link" data-chapter="cap<%= chapter %>"
                                                    href="#">Capitolo <%= chapter %></a></li>
                                            <% } }); %>
                                </ul>

                                <div class="text-chapter" id="whichpage">
                                    <div class="section" id="2b-intro">
                                        <div class="header" id="2b-header">
                                        </div>
                                        <script>
                                            document.addEventListener('DOMContentLoaded', function () {
                                                // Get the default chapter from the server-rendered variable
                                                var defaultChapter = '<%= defaultChapter %>';

                                                // Fetch and display the default chapter
                                                fetch('/get-chapter/' + defaultChapter)
                                                    .then(response => response.text())
                                                    .then(data => {
                                                        document.querySelector('.text-chapter').innerHTML = data;
                                                    })
                                                    .catch(error => console.error(error));
                                            });

                                            document.querySelectorAll('.chapter-link').forEach(function (link) {
                                                link.addEventListener('click', function (event) {
                                                    event.preventDefault(); // prevent the browser from following the link
                                                    const chapter = event.target.getAttribute('data-chapter');

                                                    fetch('/get-chapter/' + chapter)
                                                        .then(response => response.text())
                                                        .then(data => {
                                                            document.querySelector('.text-chapter').innerHTML = data;
                                                        })
                                                        .catch(error => console.error(error));
                                                });
                                            });
                                        </script>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6" id="colonnaD">
                            <div class="colonnadestra" id="destra">
                                <div class="divisione" id="upperDiv">
                                    <div class="header" id="2b-header">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="issuesnav"
                                            data-bs-toggle="dropdown" aria-expanded="false" style="text-align: left">
                                            Commenti
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <% commenti.forEach((comment)=> { %>
                                                <li><a class="dropdown-item comment-link" data-comment="<%= comment %>"
                                                        href="#">
                                                        <%= comment %>
                                                    </a></li>
                                                <% }); %>
                                        </ul>


                                        <button class="add-button" id="splitButton">
                                            <i class="bi bi-dash-circle" id="icon"></i>
                                        </button>
                                        <div id="popup">Clicca su questo bottone per visualizzare un solo commento.
                                        </div>
                                        <button class="enlarger" id="enlargerRight">
                                            <i class="bi bi-arrows-angle-expand" id="enlargerRightI"></i>
                                            <!-- Extension symbol -->
                                        </button>
                                        <div id="popupR">Clicca su questo bottone per visualizzare il commento in
                                            modalità full-screen.</div>
                                        <button class="bottoneToggle" id="scrollAuto">
                                            <i class="bi bi-toggle-on" id="scrollAutomatico"></i></i>
                                        </button>
                                        <div id="popupScroll">Il reindirizzamento automatico tra testo e commento è
                                            attivo. Clicca per disattivare.</div>
                                    </div>
                                    <div class="text-comment">
                                    <script>
                                        document.querySelectorAll('.comment-link').forEach(function (link) {
                                            link.addEventListener('click', function (event) {
                                                event.preventDefault(); // prevent the browser from following the link
                                                const comment = event.target.getAttribute('data-comment');

                                                fetch('/get-comment/' + comment)
                                                    .then(response => response.text())
                                                    .then(data => {
                                                        document.querySelector('.text-comment').innerHTML = data;
                                                    })
                                                    .catch(error => console.error(error));
                                            });
                                        });

                                    </script>
                                    </div>
                                </div>
                                <div class="divisione" id="bottomDiv">
                                    <div class="header" id="2b-header">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="issuesnav"
                                            data-bs-toggle="dropdown" aria-expanded="false" style="text-align: left">
                                            Commenti
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" onclick="changepage('whichpage')"
                                                    href="">Commento 1</a></li>
                                            <li><a class="dropdown-item" onclick="changepage('whichpage')"
                                                    href="">Commento 2</a></li>
                                            <li><a class="dropdown-item" onclick="changepage('whichpage')"
                                                    href="">Commento 3</a></li>
                                        </ul>
                                        <button class="buttonToggle" id="scrollAuto2">
                                            <i class="bi bi-toggle-on" id="scrollAutomatico2"></i></i>
                                        </button>
                                        <div id="popupScroll2">Il reindirizzamento automatico tra testo e commento è
                                            attivo. Clicca per disattivare.</div>
                                        <h2 class="thing1_title"
                                            data-src="https://journals.sagepub.com/doi/pdf/10.1177/1536504214545765">
                                            The Rise of the <span class="mention cuisinetype" about="gourmet"
                                                id="2b-0">Gourmet</span>
                                            <span class="mention food typesofburger" about="burger"
                                                id="2b-1">Hamburger</span>
                                        </h2>
                                        <h2 class="thing2_authors">
                                            by <span class="mention person" about="markCaldwell" id="2b-2">Mark
                                                Caldwell</span>
                                        </h2>
                                    </div>
                                    <div class="text">
                                        <div class="section" id="2b-intro">
                                            <p>
                                                Not all <span class="mention food typesofburger" about="burger"
                                                    id="2b-3">hamburgers</span>
                                                are created equal, and given the changes in the <span
                                                    class="mention place" about="UnitedStatesofAmerica" id="2b-4"
                                                    data-wikidata-id="Q30"
                                                    data-label="United States of America">U.S.</span>
                                                dietary landscape in the past 10 years, <span
                                                    class="mention food typesofburger" about="burger"
                                                    id="2b-5">hamburgers</span>
                                                are only getting more unique. All across the country ”better
                                                <span class="mention food typesofburger" about="burger"
                                                    id="2b-6">burger</span>
                                                ” choices can now be found alongside <span class="mention company"
                                                    about="BurgerKing" id="2b-7" data-wikidata-id="Q177054"
                                                    data-label="Burger King">Burger King</span>
                                                and <span class="mention company" about="McDonald's" id="2b-8"
                                                    data-wikidata-id="Q38076" data-label="McDonald's">McDonald’s</span>
                                                . Better
                                                <span class="mention food typesofburger" about="burger"
                                                    id="2b-9">burger</span>
                                                chains aim to stand apart from typical <span class="mention cuisinetype"
                                                    about="fastfood" id="2b-10">fast food</span>
                                                by providing focused menus, novel items, and customizable options.
                                                Chains such as <span class="mention company" about="In-N-OutBurger"
                                                    id="2b-11">In-N-Out Burger</span>
                                                ,
                                                <span class="mention company" about="Smashburger"
                                                    id="2b-12">Smashburger</span>
                                                and
                                                <span class="mention company" about="UmamiBurger" id="2b-13">Umami
                                                    Burger</span>
                                                aim to attract a growing number of consumers who want a <span
                                                    class="mention cuisinetype" about="gourmet"
                                                    id="2b-14">gourmet</span>
                                                <span class="mention food typesofburger" about="burger"
                                                    id="2b-15">burger</span>
                                                experience.
                                            </p>
                                            <p>
                                                Not all <span class="mention food typesofburger" about="burger"
                                                    id="2b-3">hamburgers</span>
                                                are created equal, and given the changes in the <span
                                                    class="mention place" about="UnitedStatesofAmerica" id="2b-4"
                                                    data-wikidata-id="Q30"
                                                    data-label="United States of America">U.S.</span>
                                                dietary landscape in the past 10 years, <span
                                                    class="mention food typesofburger" about="burger"
                                                    id="2b-5">hamburgers</span>
                                                are only getting more unique. All across the country ”better
                                                <span class="mention food typesofburger" about="burger"
                                                    id="2b-6">burger</span>
                                                ” choices can now be found alongside <span class="mention company"
                                                    about="BurgerKing" id="2b-7" data-wikidata-id="Q177054"
                                                    data-label="Burger King">Burger King</span>
                                                and <span class="mention company" about="McDonald's" id="2b-8"
                                                    data-wikidata-id="Q38076" data-label="McDonald's">McDonald’s</span>
                                                . Better
                                                <span class="mention food typesofburger" about="burger"
                                                    id="2b-9">burger</span>
                                                chains aim to stand apart from typical <span class="mention cuisinetype"
                                                    about="fastfood" id="2b-10">fast food</span>
                                                by providing focused menus, novel items, and customizable options.
                                                Chains such as <span class="mention company" about="In-N-OutBurger"
                                                    id="2b-11">In-N-Out Burger</span>
                                                ,
                                                <span class="mention company" about="Smashburger"
                                                    id="2b-12">Smashburger</span>
                                                and
                                                <span class="mention company" about="UmamiBurger" id="2b-13">Umami
                                                    Burger</span>
                                                aim to attract a growing number of consumers who want a <span
                                                    class="mention cuisinetype" about="gourmet"
                                                    id="2b-14">gourmet</span>
                                                <span class="mention food typesofburger" about="burger"
                                                    id="2b-15">burger</span>
                                                experience.
                                            </p>
                                            <p>
                                                And the choices are considerable. How about a <span
                                                    class="mention food typesofburger" about="burger"
                                                    id="2b-16">hamburger</span>
                                                with <span class="mention food" about="steak" id="2b-17">seared strip
                                                    steak</span>
                                                , <span class="mention food ingredients" about="oystermushrooms"
                                                    id="2b-18">oyster mushrooms</span>
                                                ,
                                                <span class="mention food ingredients" about="seaweed" id="2b-19">dried
                                                    seaweed</span>
                                                and <span class="mention food ingredients" about="fish"
                                                    id="2b-20">fermented fish</span>
                                                ? What about the <span class="mention food typesofburger"
                                                    about="RooBurger" id="2b-21">“Roo Burger</span>
                                                ”, a
                                                <span class="mention food typesofburger" about="burger"
                                                    id="2b-22">hamburger</span>
                                                that combines <span class="mention animals ingredients" about="cows"
                                                    id="2b-23">cow</span>
                                                and
                                                <span class="mention animals ingredients" about="kangoroo" id="2b-24">
                                                    kangaroo
                                                    <span class="mention food ingredients" about="meat"
                                                        id="2b-25">meat</span>
                                                    into one <span class="mention food ingredients" about="patty"
                                                        id="2b-26">patty</span>
                                                    ? Or for a real heart-clogger, TGI Friday just rolled out its line
                                                    of <span class="mention food typesofburger" about="burger"
                                                        id="2b-27">“Stacked Burgers</span>
                                                    ” with a whopping 1,400 calories per
                                                    <span class="mention food" about="sandwich"
                                                        id="2b-28">sandwich</span>
                                                    . With a resurgence of <span class="mention diets"
                                                        about="vegetarianism" id="2b-29">vegetarian</span>
                                                    <span class="mention diets" about="veganism" id="2b-30">vegan</span>
                                                    cuisine combined with heightened public concerns about food safety
                                                    issues, it would seem that offerings such as these would be waning
                                                    rather than on the rise. But the trends in
                                                    <span class="mention food ingredients" about="meat"
                                                        id="2b-31">meat</span>
                                                    consumption, and a new segment of <span class="mention cuisinetype"
                                                        about="gourmet" id="2b-32">gourmet</span>
                                                    <span class="mention food ingredients" about="meat"
                                                        id="2b-33">meat</span>
                                                    consumer, indicate that something different and sociological is
                                                    underway.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
            </div>
            <!-- Footer-->
            <%- include("partials/footer"); %>
                <!-- Scripts-->
                <%- include("partials/scripts"); %>
    </body>

</html>