<!DOCTYPE html>
<html lang="en">
<!-- Head-->
<%- include ("partials/head"); %>

    <body id="page-top">
        <!-- Navigation-->
        <%- include("partials/navbar"); %>
            <!-- Masthead-->
            <header>
                <div class="container px-4 px-lg-5 h-20">
                    <h1 class="text-black text-center font-weight-bold" id="readerTitle"></h1>
                </div>
            </header>
            <div class="container container1">
                <section class="box-testi">
                    <div class="row">
                        <div class="col-6" id="colonnaS">
                            <div class="colonnasinistra text-break" id="promessisposi">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="issuesnav"
                                    data-bs-toggle="dropdown" aria-expanded="false" style="text-align: left">
                                    Capitoli
                                </button>
                                <button class="enlarger" id="enlargerLeft">
                                    <i class="bi bi-arrows-angle-expand" id="enlargerLeftI"></i>
                                    <!-- Extension symbol -->
                                </button>
                                <div id="popupL">Clicca su questo bottone per visualizzare il testo in modalità
                                    full-screen.</div>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <% chapters.forEach((chapter)=> {
                                        if (!chapter.startsWith('1') && !chapter.startsWith('2') &&
                                        !chapter.startsWith('3') && !chapter.startsWith('4') && !chapter.startsWith('5')
                                        &&
                                        !chapter.startsWith('6') && !chapter.startsWith('7') &&
                                        !chapter.startsWith('8') && !chapter.startsWith('9')) { %>
                                        <li><a class="dropdown-item chapter-link" data-chapter="<%= chapter %>"
                                                href="#">
                                                <%= chapter.replace('Capitolo', '' ) %>
                                            </a></li>
                                        <% } else { %>
                                            <li><a class="dropdown-item chapter-link" data-chapter="cap<%= chapter %>"
                                                    href="#">Capitolo <%= chapter %></a></li>
                                            <% } }); %>
                                </ul>

                                <div class="text-chapter" id="whichpage">
                                    <div class="section" id="2b-intro">
                                        <div class="header" id="2b-header">
                                        </div>
                                        <script>
                                            document.addEventListener('DOMContentLoaded', function () {
                                                // Get the default chapter from the server-rendered variable
                                                var defaultChapter = '<%= defaultChapter %>';

                                                // Fetch and display the default chapter
                                                fetch('/get-chapter/' + defaultChapter)
                                                    .then(response => response.text())
                                                    .then(data => {
                                                        document.querySelector('.text-chapter').innerHTML = data;
                                                    })
                                                    .catch(error => console.error(error));
                                            });

                                            document.querySelectorAll('.chapter-link').forEach(function (link) {
                                                link.addEventListener('click', function (event) {
                                                    event.preventDefault(); // prevent the browser from following the link
                                                    const chapter = event.target.getAttribute('data-chapter');

                                                    fetch('/get-chapter/' + chapter)
                                                        .then(response => response.text())
                                                        .then(data => {
                                                            document.querySelector('.text-chapter').innerHTML = data;
                                                        })
                                                        .catch(error => console.error(error));
                                                });
                                            });
                                        </script>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6" id="colonnaD">
                            <div class="colonnadestra" id="destra">
                                <div class="divisione" id="upperDiv">
                                    <div class="header" id="2b-header">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="issuesnav"
                                            data-bs-toggle="dropdown" aria-expanded="false" style="text-align: left">
                                            Commenti
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <% commenti.forEach((comment)=> { %>
                                                <li><a class="dropdown-item comment-link" data-comment="<%= comment %>"
                                                        href="#">
                                                        <%= comment %>
                                                    </a></li>
                                                <% }); %>
                                        </ul>


                                        <button class="add-button" id="splitButton">
                                            <i class="bi bi-dash-circle" id="icon"></i>
                                        </button>
                                        <div id="popup">Clicca su questo bottone per visualizzare un solo commento.
                                        </div>
                                        <button class="enlarger" id="enlargerRight">
                                            <i class="bi bi-arrows-angle-expand" id="enlargerRightI"></i>
                                            <!-- Extension symbol -->
                                        </button>
                                        <div id="popupR">Clicca su questo bottone per visualizzare il commento in
                                            modalità full-screen.</div>
                                        <button class="bottoneToggle" id="scrollAuto">
                                            <i class="bi bi-toggle-on" id="scrollAutomatico"></i></i>
                                        </button>
                                        <div id="popupScroll">Il reindirizzamento automatico tra testo e commento è
                                            attivo. Clicca per disattivare.</div>
                                    </div>
                                    <div class="text-comment-top">
                                    <script>
                                        document.addEventListener('DOMContentLoaded', function () {
                                                // Set the default comment
                                                let firstDefaultComment = 'BadConf';

                                                // Fetch and display the first default comment
                                                fetch('/get-comment/' + firstDefaultComment)
                                                    .then(response => response.text())
                                                    .then(data => {
                                                        document.querySelector('.text-comment-top').innerHTML = data;
                                                    })
                                                    .catch(error => console.error(error));
                                            });

                                            document.querySelectorAll('.comment-link').forEach(function (link) {
                                            link.addEventListener('click', function (event) {
                                                event.preventDefault(); // prevent the browser from following the link
                                                const comment = event.target.getAttribute('data-comment');

                                                fetch('/get-comment/' + comment)
                                                    .then(response => response.text())
                                                    .then(data => {
                                                        document.querySelector('.text-comment-top').innerHTML = data;
                                                    })
                                                    .catch(error => console.error(error));
                                            });
                                        });

                                    </script>
                                    </div>
                                </div>
                                <div class="divisione" id="bottomDiv">
                                    <div class="header" id="2b-header">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="issuesnav"
                                            data-bs-toggle="dropdown" aria-expanded="false" style="text-align: left">
                                            Commenti
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <% commenti.forEach((comment)=> { %>
                                                <li><a class="dropdown-item comment-link-2" data-comment="<%= comment %>"
                                                        href="#">
                                                        <%= comment %>
                                                    </a></li>
                                                <% }); %>
                                        </ul>
                                        <button class="buttonToggle" id="scrollAuto2">
                                            <i class="bi bi-toggle-on" id="scrollAutomatico2"></i></i>
                                        </button>
                                        <div id="popupScroll2">Il reindirizzamento automatico tra testo e commento è
                                            attivo. Clicca per disattivare.</div>
                                        <div class="text-comment-bottom">
                                            <script>
                                                document.addEventListener('DOMContentLoaded', function () {
                                                // Set the second default comment
                                                let secondDefaultComment = 'Angelini';

                                                // Fetch and display the default comment
                                                fetch('/get-comment/' + secondDefaultComment)
                                                    .then(response => response.text())
                                                    .then(data => {
                                                        document.querySelector('.text-comment-bottom').innerHTML = data;
                                                    })
                                                    .catch(error => console.error(error));
                                            });

                                            document.querySelectorAll('.comment-link-2').forEach(function (link) {
                                                    link.addEventListener('click', function (event) {
                                                        event.preventDefault(); // prevent the browser from following the link
                                                        const comment = event.target.getAttribute('data-comment');
        
                                                        fetch('/get-comment/' + comment)
                                                            .then(response => response.text())
                                                            .then(data => {
                                                                document.querySelector('.text-comment-bottom').innerHTML = data;
                                                            })
                                                            .catch(error => console.error(error));
                                                    });
                                                });
        
                                            </script>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
            </div>
            <!-- Footer-->
            <%- include("partials/footer"); %>
                <!-- Scripts-->
            <%- include("partials/scripts"); %>
    </body>

</html>