<!DOCTYPE html>
<html lang="en">
<!-- Head-->
<script>
    // Create a global translations object
    window.translations = {
      chapter: '<%= __("reader.chapter") %>',
      introduction: '<%= __("reader.introduction") %>',
      accessibleFont: '<%= __("reader.accessibleFont") %>',
      baseFont: '<%= __("reader.baseFont") %>',
      fullscreen: '<%= __("reader.fullscreen") %>',
      smallscreen: '<%= __("reader.smallscreen") %>',
      showImages: '<%= __("reader.showImages") %>',
      hideImages: '<%= __("reader.hideImages") %>',
      showComments: '<%= __("reader.showComments") %>',
      hideComments: '<%= __("reader.hideComments") %>',
      showTwoComments: '<%= __("reader.showTwoComments") %>',
      showOneComment: '<%= __("reader.showOneComment") %>',
      commentNotFound: '<%= __("reader.commentNotFound") %>',
      or: '<%= __("reader.or") %>',
      loadingError: '<%= __("reader.loadingError") %>',
      russo: '<%= __("reader.russo") %>',
      bricchi: '<%= __("reader.bricchi") %>',
      changeLevel: '<%= __("translation.changeLevel") %>',
      twoTranslations: '<%= __("translation.twoTranslations") %>',
      oneTranslation: '<%= __("translation.oneTranslation") %>',
      information: '<%= __("translation.information") %>',
    };
  </script>
<%- include ("partials/head"); %>

    <body id="page-top"  class="normalFont">
        <!-- Navigation-->
        <%- include("partials/navbar"); %>

            <!-- Masthead-->
            <header>
                <div class="container px-4 px-lg-5 h-20">
                    <h1 class="text-black text-center font-weight-bold" id="readerTitle"></h1>
                </div>
            </header>

            <!-- Mobile Tab Interface -->
            <%- include("partials/mobile-tabs", {
                pageType: 'traduco',
                chapters: chapters,
                commenti: null,
                translations: translations
            }); %>
            <div class="container container1">
                <section class="box-testi">
                    <div class="row normalFont" id="row-rem">
                        <div class="col-6" id="colonnaS">
                        <div id="fixedContent">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="toggle-capitoli"
                                data-bs-toggle="dropdown" aria-expanded="false" style="text-align: left">
                                Capitoli
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="toggle-capitoli">
                                <% chapters.forEach((chapter)=> { %>
                                    <% 
                                    let displayName, dataChapter; 
                                    if (!isNaN(Number(chapter))) { // Ensuring chapter is properly converted to a number
                                        displayName = 'Capitolo ' + chapter; 
                                        dataChapter = 'cap' + chapter; 
                                    } else { 
                                        // Chapter is not a number (e.g., 'Introduzione' , 'Frontespizio')
                                        displayName = chapter; 
                                        dataChapter = chapter; 
                                    } 
                                %>
                                
                                        <li>
                                            <a class="dropdown-item chapter-link" data-chapter="<%= dataChapter %>"
                                                href="#">
                                                <%= displayName %>
                                            </a>
                                        </li>
                                        <% }); %>
                            </ul>
                            <div id="popupL"><%= __('reader.fullscreen') %></div>
                            <button class="font-button normalFont" id="fontToChange">
                                <i class="bi bi-file-earmark-font" id="fontButton" onclick="changeFont();"></i>
                            </button>
                            <div id="popupFont"><%= __('reader.accessibleFont') %></div>
                            <button class="font-button normalFont" id="toggle-translation-source">
                                <i class="bi bi-file-text"></i>
                            </button>
                            <div id="popupFont"><%= __('translation.changeLevel') %></div>
                        </div>
                            <div class="colonnasinistra text-break" id="promessisposi">
                                <div class="text-chapter" id="whichpage">
                                    <div class="section" id="2b-intro">
                                        <div class="header" id="2b-header">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6" id="colonnaD">
                            <div id="fixedContent2">
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="toggle-commenti1" data-bs-toggle="dropdown" aria-expanded="false"
                                            style="text-align: left">
                                            Lingua 1
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-large" aria-labelledby="dropdownMenuButton1">
                                            <% translations.forEach((translation)=> { %>
                                                <li><a class="dropdown-item comment-link" data-comment="<%= translation %>"
                                                        href="#">
                                                        <%= translation %>
                                                    </a></li>
                                                <% }); %>
                                        </ul>
                                        <button class="btn btn-secondary dropdown-toggle hide" type="button"
                                            id="toggle-commenti2" data-bs-toggle="dropdown" aria-expanded="false"
                                            style="text-align: left">
                                            Lingua 2
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-large" aria-labelledby="dropdownMenuButton1">
                                            <% translations.forEach((translation)=> { %>
                                                <li><a class="dropdown-item comment-link-2"
                                                        data-comment="<%= translation %>" href="#">
                                                        <%= translation %>
                                                    </a></li>
                                                <% }); %>
                                        </ul>
                                        <button class="add-button">
                                            <i class="bi bi-plus-circle" id="splitButton" onclick="toggleColumn();"></i>
                                        </button>
                                        <div id="popup"><%= __("translation.twoTranslations") %></div>
                                        <button class="enlarger">
                                            <i class="bi bi-arrows-angle-expand" id="enlargerRight" onclick="enlargeRightColumn();"></i>
                                            <!-- Extension symbol -->
                                        </button>
                                        <div id="popupR"><%= __("translation.fullscreen") %></div>
                                        <button class="infoButton">
                                            <i class="bi bi-info-circle" id="infoButton" onclick="window.open('./traduzione', '_blank');"></i>
                                        </button>
                                        <div id="popupI"><%= __("translation.information") %></div>
                                    </div>
                            <div class="colonnadestra" id="destra">
                                <div class="divisione singularText" id="upperDiv">
                                    <div class="header" id="2b-header">
                                        
                                    </div>
                                    <div class="text-comment-top">
                                    </div>
                                </div>
                                <div class="divisione hide" id="bottomDiv">
                                    <div class="header" id="2b-header">
                                        <div class="text-comment-bottom">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
            </div>
            <!-- Footer-->
            <%- include("partials/footer"); %>
                <!-- Scripts-->
                <%- include("partials/scripts"); %>
                <script src="./assets/js/converted_translations.js"></script>
                <script src="./assets/js/mobile-controller.js"></script>
                <!-- Add toggle icon for translation source -->
    </body>

</html>
