<!DOCTYPE html>
<html lang="<%= currentLang %>">
    <!-- Head-->
    <%- include ("partials/head"); %>
    <body id="page-top" onload="comments();" class="normalFont">
        <!-- Navigation-->
        <%- include ("partials/navbar"); %> 
        <!-- Masthead-->
        <header class="masthead">
            <div class="container container-commenti px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <h2 class="page-title" data-page-type="translations"><%= __('translations.title') %></h2>
                    <hr class="divider" />
                    <div class="order-button-group">
                        <button type="button" 
                                class="btn btn-light order-button activeBtn" 
                                data-order="chronological" 
                                data-sort-type="translations"
                                id="chronologicalBtn">
                            <%= __('translations.sorting.oldest') %>
                        </button>
                        <button type="button" 
                                class="btn btn-light order-button" 
                                data-order="chronological" 
                                data-sort-type="translations"
                                id="antichronologicalBtn">
                            <%= __('translations.sorting.newest') %>
                        </button>
                    </div>
                    <div class="comment-list">
                        <ul class="list-group comment-list-items">
                            <% data.forEach(item => { %>
                                <li class="list-group-item dropdown-item toggleBtn" 
                                data-year="<%= item.date %>" 
                                data-language-code="<%= item.languageCode %>"
                                data-language-code-en="<%= item.languageCodeEn %>">
                                <!-- <%= item.languageCode %> (<%= item.date %>) <i class="bi bi-caret-down-fill"></i> -->
                                <%= currentLang === 'en' ? item.languageCodeEn : item.languageCode %> (<%= item.date %>) <i class="bi bi-caret-down-fill"></i>


                                <ul class="dropdownContent">
                                    <li class="list-group-item" data-year="<%= item.date %>">
                                        <%= __('translations.details.author') %>: <%= item.author %>
                                    </li>
                                    <li class="list-group-item">
                                        <%= __('translations.details.title') %>: <%= item.title %>
                                    </li>
                                    <li class="list-group-item">
                                        <%= __('translations.details.translator') %>: <%= item.translator %>
                                    </li>
                                    <li class="list-group-item">
                                        <%= __('translations.details.publishingPlace') %>: <%= item.city %>
                                    </li>
                                    <li class="list-group-item">
                                        <%= __('translations.details.publisher') %>: <%= item.publisher %>
                                    </li>
                                    <li class="list-group-item">
                                        <%= __('translations.details.year') %>: <%= item.date %>
                                    </li>
                                    <% if (item && Array.isArray(item.marcatura)) { %>
                                        <li class="list-group-item">
                                            <%= __('translations.details.markup') %>:
                                            <% item.marcatura.forEach(function(worker) { %>
                                                <%= worker.resp %> <%= __('translations.details.markupBy') %> <%= worker.persName %><br/>
                                            <% }); %>
                                        </li>
                                    <% } else { %>
                                        <li class="list-group-item">
                                            <%= __('translations.details.markup') %>: <%= __('translations.details.noData') %>
                                        </li>
                                    <% } %>
                                    <li class="list-group-item">
                                        <%= __('translations.details.notes') %>: 
                                        <%= item.description ? (item.description || __('translations.details.noData')) : __('translations.details.noData') %>
                                    </li>
                                    <li class="list-group-item">
                                        <%= __('translations.details.availableChapters') %>: 
                                        <%= item.notes ? (item.notes.p || __('translations.details.noData')) : __('translations.details.noData') %>
                                    </li>
                                </ul>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- Footer-->
        <%- include("partials/footer"); %>
        <!-- Scripts-->
        <%- include("partials/scripts"); %>
    </body>
</html>